body{
    background-color: black;
    color: rgb(255, 253, 255);
    height: 90vh;
    font-family: 'Courier New', Courier, monospace;
}
.loading{
    font-size: 8vw;
}
.hidden{
    opacity: 0;
}
.intr{
    z-index: 1;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 10px;
}
.nav img,.nav{
    width: 380px;
    border-radius: 10px;
    align-self: center;
}
.det{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.det1{
    align-self: center;
    height: max-content;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(82,80,82);
    box-shadow: 5px 5px 5px #cccacb;
    margin: 10px;
    transition: all 0.3s ease;
}
.det1:hover,.nam h1:hover,.nam button:hover{
    top: 3px;
    box-shadow: inset 0px 0px 10px 3px rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgb(136, 136, 136);
}
.det p{
    font-size: 3vw;
}
.det2{
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(255, 253, 255);
}
.nam{
    display: flex;
    align-items: center;
}
.nam h1, .proj h1{
    font-weight: 0;
    font-size: 8vw;
    line-height: 0px;
}
button{
    font-family: 'Courier New', Courier, monospace;
    border: none;
    background-color: rgb(82,80,82);
    color: #ffff;
    padding: 10px 20px;
    font-size: 3vw;
    border-radius: 10px;
    margin: auto;
    position: relative;
    box-shadow: 5px 5px 5px #cccacb;
    transition: all 0.3s ease;
}
button:hover{
    box-shadow: inset 0px 0px 10px 3px #ffffff;
    top: 3px;
}
button:active{
    box-shadow: none;
    top: 5px;
}
.det2 span{
    color: white;
    height: auto;
}
.men{
    margin: 0;
    height: 80%;
    transform: translate(-400%,30%);
    font-size: 5vw;
    text-align: center;
    display: none;
    flex-direction: column;
    color: #ffffff;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 425px) {
    body{
        height: 94vh;
    }
}
.proj{
    transform: translate(300%,0%);
    display: none;
    align-items: center;
}
.proj img, .blocks figcaption{
    width: 300px;
    border-radius: 10px;
}

.proj h2,.proj button{
    margin: 8px;
    height: max-content;
}

.blocks{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.block1, .block2,.block3{
    border-radius: 10px;
    padding-bottom: 60px;
}