body{
    background-color: black;
    color: rgb(255, 253, 255);
    height: 90vh;
    font-family: sans-serif;
}
.loading{
    font-size: 8vw;
}
.hidden{
    opacity: 0;
}
.intr{
    z-index: 1;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 10px;
}
.nav img,.nav{
    width: 80vw;
    border-radius: 10px;
    align-self: center;
}
.det{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.det1{
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: #807e7e;
    box-shadow: 5px 5px 5px #cccacb;
    margin: 10px;
    transition: all 0.3s ease;
}
.det1:hover,.nam h1:hover,.nam button:hover{
    top: 3px;
    box-shadow: inset 0px 0px 10px 3px rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgb(136, 136, 136);
}
.det p{
    font-size: 2vw;
}
.det2{
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(255, 253, 255);
}
.nam{
    display: flex;
    align-items: center;
}
.nam h1{
    font-weight: 0;
    font-size: 8vw;
    line-height: 0px;
}
.nam button, .men button{
    border: none;
    background-color: #807e7e;
    color: #ffff;
    padding: 10px 20px;
    font-size: 3vw;
    border-radius: 10px;
    margin: auto;
    position: relative;
    box-shadow: 5px 5px 5px #cccacb;
    transition: all 0.3s ease;
}
.nam button:hover,.men button:hover {
    box-shadow: inset 0px 0px 10px 3px #ffffff;
    top: 3px;
}
.nam button:active,.men button:active {
    box-shadow: none;
    top: 5px;
}
.det2 span{
    color: white;
    height: auto;
}
.men{
    margin: 0;
    height: 60%;
    transform: translate(-400%,30%);
    font-size: 5vw;
    text-align: center;
    display: none;
    flex-direction: column;
    color: #ffffff;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 425px) {
    body{
        height: 94vh;
    }
}